@font-face {
	font-family: Myriad Set Pro;
	src: url(../fonts/myriad-set-pro_text.woff);
}

@font-face {
	font-family: Myriad Set Pro Thin;
	src: url(../fonts/myriad-set-pro_thin.woff);
}


@font-face {
	font-family: Myriad Set Pro Semibold;
	src: url(../fonts/myriad-set-pro_semibold.woff);
}

@font-face {
	font-family: Myriad Set Pro Bold;
	src: url(../fonts/myriad-set-pro_bold.woff);
}
