@font-face {
	font-family: Myriad Set Pro;
	src: url(../fonts/myriad-set-pro_text.woff);
}

@font-face {
	font-family: Myriad Set Pro Thin;
	src: url(../fonts/myriad-set-pro_thin.woff);
}


@font-face {
	font-family: Myriad Set Pro Semibold;
	src: url(../fonts/myriad-set-pro_semibold.woff);
}

@font-face {
	font-family: u_sheavy_caps;
	src: url(../fonts/u_s_h-webfont.woff2);
}

@font-face {
	font-family: u_sthin_caps;
	src: url(../fonts/u_s_t-webfont.woff2);
}