$yellow : #ffcc33;
$pink: #ff3366;
$light-pink : #ff6666;
$red: #ff3333;
$light-blue: #6699ff;
$blue: #6699ff;

$myriad-text: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$myriad-thin: 'Myriad Set Pro Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$myriad-bold: 'Myriad Set Pro Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;


$u-thin: 'u_sthin_caps', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$u-heavy: 'u_sheavy_caps', 'Helvetica Neue', Helvetica, Arial, sans-serif;