.taxi-header {
	@include display(flex);
	@include flex-direction(row);
	@include justify-content(space-between);
	@include align-items(center);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	padding-left:60px;
	padding-right:60px;
	padding-top: 38px;
	height: auto;
	@include transition(all 0.4s ease);

	@include MQM(1100) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@include MQM(XS) {
    	padding-top: 10px;
    	padding-left: 15px;
    	padding-right: 15px;
    }

	&.shrink {
		background-color: #FEDB4C;
	    -moz-box-shadow: 0 1px 4px 0 #E4990F;
	    -webkit-box-shadow: 0 1px 4px 0 #E4990F;
	    box-shadow: 0 1px 4px 0 #E4990F;
	    height: 67px;
	    padding-top: 0;

	    @include MQM(XS) {
	    	height: 50px;
	    }

	    .brand img {
	    	margin-top: 0;
	    }
	}



	.brand {
		display: inline-block;
		height: 26px;
		width: 155px;
		margin-top: -4px;

		a {
			display: block;
		}

		img {
			width: 100%;
			height: auto;
			margin-top: -4px;
		}

		@include MQM(XS) {
			width: 110px;
		}
	}

	.main-nav {
		display: inline-block;
		max-width: 785px;

		@include MQM(1100) {
			display: none;
		}

		@include MQM(1175) {
			display: none;
		}
		

		ul {
			list-style: none;
			@include display(flex);
			@include flex-direction(row);
			@include justify-content(space-between);
			width: 100%;
			max-width: 750px;
		}

		li {
			display: inline-block;
			margin-right: 35px;
			&:last-child {
				margin-right: 0;
			}

			@include MQM(1330) {
				margin-right: 15px;
			}
		}

		a {
			color: #000;
			font-size: rem(18);
			font-family: $myriad-thin;
			display: block;
			text-decoration: none;
			padding: 5px 0;
			line-height: 1;
			position: relative;
			@include transition(color 0.1s ease-in-out);

			&:after {
				content: "";
				position: absolute;
				bottom: -3px;
				left: 0;
				height: 0;
				width: 100%;
				background-color: rgba($pink, 0.67);
				@include transition(height 0.1s ease-in-out);
			}

			&:hover, &.active {
				color: $pink;

				&:after {
					height: 3px;
				}
			}
		}
	}

	&--r {
		display: inline-block;
	}

	&--btn {
	    border-radius: 3px;
	    background-color: rgb(255, 255, 255);
	    box-shadow: 0 1px 0 0 rgba(255, 135, 76, 0.27);
	    font-size: 18px;
	    color: rgb(255, 64, 68);
	    text-decoration: none;

	    &:hover, &:focus, &:active {
	    	text-decoration: none;
	    }
	    
	    @include MQM(XS) {
	    	display: none;
	    }
	}

	&--lang {
		display: inline-block;
		margin-left: 35px;

		@include MQM(1280) {
			margin-right: 15px;
		}

		@include MQM(1175) {
			display: none;
		}

		ul {
			list-style: none;
		}

		li {
			display: inline-block;
			margin-right: 20px;

			&:last-of-type {
				margin-right: 0;
			}

			@include MQM(1280) {
				margin-right: 10px;
			}
		}

		a {
			text-decoration: none;
			@include transition(color 0.1s ease-in);
			color: #000;

			&:hover, &:focus, &:active, &.active {
				color: #fff;
			}
		}
	}

	&--burger {
		$width: 28px;
		$thickness: 4px;
		
		border: 0;
		background: none;
		outline: 0;
		padding: 0;
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		margin-left: 40px;
		position: relative;
		z-index: 21;

		border-bottom: $thickness solid currentColor;
		width: $width;

		transition: border-bottom 1s ease-in-out;
		-webkit-transition: border-bottom 1s ease-in-out;

		@include MQ(1175) {
			display: none;
		}

		@include MQM(XS) {
	    	border-bottom: 2px solid currentColor;
	    }

		// Fix for extra space in Firefox
		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}	 

		&:before {
			content: "";
			display: block;
			border-bottom: $thickness solid currentColor;
			width: 100%;
			margin-bottom: 5px;
			transition: transform 0.5s ease-in-out;    
			-webkit-transition: -webkit-transform 0.5s ease-in-out;  

			@include MQM(XS) {
		    	border-bottom: 2px solid currentColor;
		    }      
		}

		&:after {
			content: "";
			display: block;
			border-bottom: $thickness solid currentColor;
			width: 100%;
			margin-bottom: 5px;
			transition: transform 0.5s ease-in-out;
			-webkit-transition: -webkit-transform 0.5s ease-in-out;

			@include MQM(XS) {
		    	border-bottom: 2px solid currentColor;
		    }
		}

		&.open {
			border-bottom: $thickness solid transparent;
			transition: border-bottom 0.8s ease-in-out;
			-webkit-transition: border-bottom 0.8s ease-in-out;

			&:before {
				transform: rotate(-405deg) translateY(1px) translateX(-3px);
				-webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);      
				transition: transform 0.5s ease-in-out;
				-webkit-transition: -webkit-transform 0.5s ease-in-out;
			}

			&:after {
				transform: rotate(405deg) translateY(-4px) translateX(-5px); 
				-webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);       
				transition: transform 0.5s ease-in-out;
				-webkit-transition: -webkit-transform 0.5s ease-in-out;
			}
		}
	}
}