@-webkit-keyframes mouse-wheel { 
    0% {
        -webkit-transform: scaleY(.4)translateY();
        transform: scaleY(.4)translateY();
    }
    20% {
        -webkit-transform: scaleY(1)translateY();
        transform: scaleY(1)translateY();
    }
    60% {
        -webkit-transform: scaleY(.4)translateY(12px);
        transform: scaleY(.4)translateY(12px);
    }
    100% {
        -webkit-transform: scaleY(.4)translateY();
        transform: scaleY(.4)translateY();
    }
}
@keyframes mouse-wheel { 
    0% {
        -webkit-transform: scaleY(.4)translateY();
        transform: scaleY(.4)translateY();
    }
    20% {
        -webkit-transform: scaleY(1)translateY();
        transform: scaleY(1)translateY();
    }
    60% {
        -webkit-transform: scaleY(.4)translateY(12px);
        transform: scaleY(.4)translateY(12px);
    }
    100% {
        -webkit-transform: scaleY(.4)translateY();
        transform: scaleY(.4)translateY();
    }
}


.mouse {
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    bottom: 35px;
    width: 30px;
    margin-left: -15px;
    height: 48px;
    border-radius: 15px;
    border: 2px solid #fff;
    -webkit-transform: translateZ();
    transform: translateZ();
    cursor: pointer;
    @include transition(opacity 0.4s ease);

    &.hide {
    	opacity: 0;
    }

    @include MQM(767) {
    	display: none;
    }

    &--wheel {
	    position: absolute;
	    left: 50%;
	    top: 8px;
	    margin-left: -2px;
	    width: 4px;
	    height: 9px;
	    background: #fff;
	    border-radius: 2px;
	    -webkit-animation: mouse-wheel 1.25s infinite linear;
	    animation: mouse-wheel 1.25s infinite linear;
	    -webkit-transform-origin: 50% 0%;
	    -ms-transform-origin: 50% 0%;
	    transform-origin: 50% 0%;
	}
}

.touch .mouse { 
	display: none 
}

